<a href="https://colab.research.google.com/github/Aashish123-aikki/MachineLearning/blob/main/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [64]:
df=pd.read_csv('tested.csv')

In [65]:
df

     Survived     Sex   Age      Fare
0           0    male  34.5    7.8292
1           1  female  47.0    7.0000
2           0    male  62.0    9.6875
3           0    male  27.0    8.6625
4           1  female  22.0   12.2875
..        ...     ...   ...       ...
413         0    male   NaN    8.0500
414         1  female  39.0  108.9000
415         0    male  38.5    7.2500
416         0    male   NaN    8.0500
417         0    male   NaN   22.3583

[418 rows x 4 columns]

In [66]:
le_sex=LabelEncoder()
df['Sex']=le_sex.fit_transform(df['Sex'])

In [67]:
df

     Survived  Sex   Age      Fare
0           0    1  34.5    7.8292
1           1    0  47.0    7.0000
2           0    1  62.0    9.6875
3           0    1  27.0    8.6625
4           1    0  22.0   12.2875
..        ...  ...   ...       ...
413         0    1   NaN    8.0500
414         1    0  39.0  108.9000
415         0    1  38.5    7.2500
416         0    1   NaN    8.0500
417         0    1   NaN   22.3583

[418 rows x 4 columns]

In [68]:
from sklearn import tree

In [69]:
model=tree.DecisionTreeClassifier()

In [70]:
median=df['Age'].median()

In [71]:
median

27.0

In [72]:
df['Age']=df['Age'].fillna(median)

In [78]:
df['Fare']=df['Fare'].fillna(df['Fare'].median())

In [79]:
df.describe()

         Survived         Sex         Age        Fare
count  418.000000  418.000000  418.000000  418.000000
mean     0.363636    0.636364   29.599282   35.576535
std      0.481622    0.481622   12.703770   55.850103
min      0.000000    0.000000    0.170000    0.000000
25%      0.000000    0.000000   23.000000    7.895800
50%      0.000000    1.000000   27.000000   14.454200
75%      1.000000    1.000000   35.750000   31.471875
max      1.000000    1.000000   76.000000  512.329200

In [80]:
x_train=df.drop(['Survived'],axis='columns')
y_train=df['Survived']
x_train

     Sex   Age      Fare
0      1  34.5    7.8292
1      0  47.0    7.0000
2      1  62.0    9.6875
3      1  27.0    8.6625
4      0  22.0   12.2875
..   ...   ...       ...
413    1  27.0    8.0500
414    0  39.0  108.9000
415    1  38.5    7.2500
416    1  27.0    8.0500
417    1  27.0   22.3583

[418 rows x 3 columns]

In [81]:
model=tree.DecisionTreeClassifier()

In [82]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [84]:
model.predict([[1,34,7]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

In [85]:
model.predict([[0,47,7]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])